<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Awesome Randomizer</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/">Randomizer</a>
        </nav>
        <div class="container-fluid">
            <div class="page-header">
            {% if restaurant %}
                <h1 class="text-center">Not sure?</h1>
            </div>
            <p class="text-center">{{ restaurant.name }} sounds great!</p>
            {% else %}
                <h1 class="text-center">No restaurants exist in the database! </h1>
            </div>
            {% endif %}
        </div>
    </body>
</html>
